.contenedor-novedades {
  width: 100vw;
  height: 100%;
  padding: none;
  margin: none;
  background-color: rgb(53, 53, 53);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: none;
}
.contenedor-novedades .contenedor-noticia {
  width: 90%;
  height: 100vh;
  padding: none;
  margin: none;
  background-color: rgb(29, 29, 29);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: none;
}
.contenedor-novedades .contenedor-noticia .caja-noticia {
  width: 40%;
  height: 80%;
  padding: none;
  margin: 30px 10px 0 10px;
  background-color: rgb(29, 29, 29);
  border: 2px solid rgb(175, 2, 255);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-content: none;
}
.contenedor-novedades .contenedor-noticia .caja-noticia h2 {
  width: 100%;
  font-size: 20px;
  color: rgb(161, 118, 218);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: none;
}
.contenedor-novedades .contenedor-noticia .caja-noticia .img-video-noticia {
  border-radius: 4px;
  width: 90%;
  height: 35%;
  padding: none;
  margin: 25px;
}
.contenedor-novedades .contenedor-noticia .noticia1, .contenedor-novedades .contenedor-noticia .noticia2, .contenedor-novedades .contenedor-noticia .noticia3 {
  width: 80%;
  height: 30%;
  width: 80%;
  height: 30%;
  padding: none;
  margin: 0 30px 0 55px;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
}
.contenedor-novedades .contenedor-noticia .noticia1 p, .contenedor-novedades .contenedor-noticia .noticia2 p, .contenedor-novedades .contenedor-noticia .noticia3 p {
  color: white;
}
.contenedor-novedades .contenedor-noticia .contenedor-vermas {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contenedor-novedades .contenedor-noticia .contenedor-vermas .vermas {
  width: 150px;
  height: 40px;
  padding: none;
  margin: 0;
  font-size: 17px;
  background-color: rgb(231, 206, 255);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
}

@media (max-width: 424px) {
  main {
    width: 100vh;
    height: 100%;
  }
  main .contenedor-novedades {
    width: 100vw;
    height: 100%;
  }
  main .contenedor-novedades .contenedor-noticia {
    width: 100vw;
    height: 100%;
    background: rgb(29, 29, 29);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  main .contenedor-novedades .contenedor-noticia .caja-noticia {
    width: 92%;
    height: 50%;
    padding: none;
    margin: 15px;
    border: solid 2px rgb(175, 2, 255);
    background: rgb(29, 29, 29);
  }
  main .contenedor-novedades .contenedor-noticia .caja-noticia .img-video-noticia {
    margin: 20px;
  }
  main .contenedor-novedades .contenedor-noticia .caja-noticia h2 {
    width: 90%;
    height: none;
    padding: 10px;
    margin: 10px;
    color: rgb(161, 118, 218);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: none;
  }
  main .contenedor-novedades .contenedor-noticia .caja-noticia .noticia1, main .contenedor-novedades .contenedor-noticia .caja-noticia .noticia2, main .contenedor-novedades .contenedor-noticia .caja-noticia .noticia3 {
    width: 100%;
    margin: 0;
  }
  main .contenedor-novedades .contenedor-noticia .caja-noticia .noticia1 p, main .contenedor-novedades .contenedor-noticia .caja-noticia .noticia2 p, main .contenedor-novedades .contenedor-noticia .caja-noticia .noticia3 p {
    color: white;
    margin: 20px;
  }
  main .contenedor-novedades .contenedor-noticia .caja-noticia .vermas {
    font-size: 15px;
    margin: 15px;
  }
}

/*# sourceMappingURL=novedades.css.map */
