.falso-main .cuadro-registro {
  width: 100%;
  height: 800px;
}

.falso-main .container .cont-formulario {
  height: 450px;
  width: 450px;
  margin-top: 100px;
}

.falso-main .container .cont-formulario .form-group {
  width: 320px;
  height: 80px;
  margin: 0;
}

.falso-main .container {
  width: 1300px;
  height: 450;
  padding: 0 12px 0 12px;
  margin: o 280px 0 280px;
}

.falso-main .container .cont-formulario .btn {
  width: 100px;
  height: 50px;
  margin: 20px;
}

.falso-main .container .cont-formulario .form-group .form-control {
  width: 320px;
  height: 50px;
}

.falso-main .cuadro-registro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.falso-main .container .cont-formulario {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.falso-main .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.falso-main .container .cont-formulario .form-group {
  display: flex;
  flex-direction: column;
}

.falso-main {
  width: 100vw;
}
.falso-main .cuadro-registro {
  background: rgb(255, 255, 255);
}
.falso-main .cuadro-registro .titulos-registro {
  margin-top: 50px;
}
.falso-main .cuadro-registro .titulos-registro h2 {
  text-align: center;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}
.falso-main .cuadro-registro .titulos-registro h2 span {
  font-weight: 800;
  font-style: italic;
  color: rgb(80, 0, 133);
}
.falso-main .cuadro-registro .titulos-registro h3 {
  font-size: 30px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  padding: 20px 0 0 40px;
}
.falso-main .container .cont-formulario {
  background-color: rgb(245, 245, 245);
  border: solid 2px rgb(245, 219, 255);
  border-radius: 4px;
}
.falso-main .container .cont-formulario h4 {
  width: 100%;
  margin: 15px 0 0 60px;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: 600;
}
.falso-main .container .cont-formulario .form-group .form-control {
  font-size: 18px;
  border: solid 1px rgb(207, 207, 207);
}
.falso-main .container .cont-formulario .boton-registro {
  margin: 0 40px 0 0;
}
.falso-main .container .cont-formulario .boton-iniciar-sesion {
  margin-right: 30px;
  border: solid 1px black;
}
.falso-main .container .cont-formulario .checkbox {
  width: 300px;
  height: 25px;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-sin-grilla .text-redes {
  margin-bottom: 15px;
}
.footer-sin-grilla .contenedor-redes .redes a .redes-link {
  margin: 30px 10px 10px 10px;
}

@media (max-width: 424px) {
  .falso-main {
    width: 100vw;
  }
  .falso-main .cuadro-registro {
    width: 100%;
  }
  .falso-main .cuadro-registro .titulos-registro {
    width: 100%;
    padding: 30px;
    margin: 0;
  }
  .falso-main .cuadro-registro .titulos-registro h2 {
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 600;
  }
  .falso-main .cuadro-registro .titulos-registro h2 span {
    font-weight: 700;
    font-style: italic;
    color: rgb(80, 0, 133);
  }
  .falso-main .cuadro-registro .titulos-registro h3 {
    font-size: 23px;
    font-weight: 600;
    font-family: "Times New Roman", Times, serif;
    padding: 20px 0 0 40px;
  }
  .falso-main .cuadro-registro .container {
    width: 100%;
    padding-top: 30px;
  }
  .falso-main .cuadro-registro .container .cont-formulario {
    width: 90%;
    margin: 0;
  }
  .falso-main .cuadro-registro .container .cont-formulario h4 {
    width: 100%;
    margin: 15px 0 0 15px;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    font-weight: 600;
  }
}

/*# sourceMappingURL=registro_login.css.map */
