body header {
  width: 100vw;
  height: 120px;
}

body header .h1 {
  width: 180px;
  height: 65px;
  margin: 0 0 0 25px;
}

body header .content-registro-login {
  width: 260px;
  height: 100%;
  padding: 0;
  margin: 0;
}

body header nav .ul-registro-login {
  width: 230px;
  height: 40px;
  padding: 0;
  margin: 0 40px 10px 0;
}

body .box-secciones-principales {
  width: 100vw;
  height: 40px;
  margin: 0;
  border-width: 1px;
  border-style: solid;
}

body .box-secciones-principales .ul-enlaces-secciones {
  width: 600px;
  height: 100%;
  padding: 0;
  margin: 0;
}

body main .grilla {
  width: 100vw;
  height: 1080px;
  margin: 0;
}

body main .grilla .contenedor-imagenes .img {
  width: 200px;
  height: 130px;
  margin: 5px;
}

body main .grilla .contenedor-imagenes {
  width: 90%;
  height: 75%;
}

body main .grilla .contenedor-parrafo {
  width: 100%;
  height: 100%;
  margin: 0;
}

body main .grilla .contenedor-parrafo .titulo-bienvenida {
  width: 200px;
  margin: 0 0 300px 50px;
}

body footer {
  width: 100vw;
  height: 110px;
}

body {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

body header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

body header .h1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

body header .content-registro-login {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

body header nav .ul-registro-login {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

body .box-secciones-principales .ul-enlaces-secciones {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

body .box-secciones-principales {
  display: flex;
  justify-content: center;
}

body main .grilla {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  grid-template-rows: 50% 50%;
  grid-template-areas: ". contenedor-imagenes ." ". contenedor-parrafo ." "footer footer footer";
}

body main .grilla .contenedor-imagenes {
  justify-self: center;
  align-self: center;
  grid-area: contenedor-imagenes;
}

body main .grilla .contenedor-parrafo {
  display: flex;
  justify-items: center;
  align-items: center;
  grid-area: contenedor-parrafo;
}

body header .h1 {
  font-style: italic;
  font-weight: 600;
  font-size: 60px;
  text-decoration: none;
}

body header nav .ul-registro-login .link-registro-inicio, body header nav .ul-registro-login {
  font-size: 19px;
  list-style-type: none;
  text-decoration: none;
}

body .box-secciones-principales .ul-enlaces-secciones {
  list-style-type: none;
  text-decoration: none;
}

body .box-secciones-principales .ul-enlaces-secciones .link-secciones {
  font-size: large;
  font-family: Georgia, "Times New Roman", Times, serif;
  list-style-type: none;
  text-decoration: none;
}

body main .grilla .contenedor-parrafo .parrafo-index {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0;
}

body {
  background-color: rgb(218, 218, 218);
  margin: 0;
}
body header {
  background-color: rgb(37, 37, 37);
}
body header .h1 {
  color: rgb(223, 188, 255);
}
body header nav {
  width: 230px;
  height: 40px;
}
body header nav .ul-registro-login {
  color: rgb(255, 255, 255);
}
body header nav .ul-registro-login .link-registro-inicio {
  margin: 10px;
  color: rgb(255, 255, 255);
}
body .box-secciones-principales {
  background-color: rgb(49, 49, 49);
  border: 1px, solid, black;
}
body .box-secciones-principales .ul-enlaces-secciones {
  background-color: rgb(49, 49, 49);
}
body .box-secciones-principales .ul-enlaces-secciones .link-secciones {
  color: rgb(186, 166, 207);
}
body main {
  background-color: rgb(168, 168, 168);
}
body main .grilla .contenedor-imagenes {
  background-color: rgb(39, 39, 39);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
}
body main .grilla .contenedor-imagenes .primerh2 {
  color: rgb(151, 151, 151);
  grid-area: h2;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body main .grilla .contenedor-imagenes .img {
  border-radius: 4px;
}
body main .grilla .contenedor-parrafo .titulo-bienvenida {
  color: rgb(80, 0, 133);
  text-decoration: none;
}
body main .grilla .contenedor-parrafo .parrafo-index {
  font-size: 20px;
}
body footer {
  background-color: rgb(49, 49, 49);
}

/*# sourceMappingURL=styles.css.map */
