body header {
  width: 100vw;
  height: 120px;
}

body header .h1 {
  width: 200px;
  height: 65px;
  margin: 0 0 0 25px;
}

body header .content-registro-login {
  width: 300px;
  height: 100%;
  padding: 0;
  margin: 0;
}

body header .content-registro-login nav .ul-registro-login {
  width: 260px;
  height: 40px;
  padding: 0;
  margin: 0 40px 10px 0;
}

body .box-secciones-principales {
  width: 100vw;
  height: 40px;
  margin: 0;
  border-width: 1px;
  border-style: solid;
}

body .box-secciones-principales .ul-enlaces-secciones {
  width: 600px;
  height: 100%;
  padding: 0;
  margin: 0;
}

main .grilla {
  width: 100vw;
  height: 1080px;
  margin: 0;
}

main .grilla .contenedor-imagenes .img {
  width: 200px;
  height: 130px;
  margin: 8px;
}

main .grilla .contenedor-imagenes {
  width: 95%;
  height: 80%;
}

main .grilla .contenedor-parrafo {
  width: 100%;
  height: 100%;
  margin: 0;
}

main .grilla .contenedor-parrafo .titulo-bienvenida {
  width: 200px;
  margin: 0 0 300px 50px;
}

body footer {
  width: 100vw;
  height: 110px;
}

body header .content-registro-login .buscador {
  width: 260px;
  height: 40px;
  margin: 10px;
}

.cuadro-registro {
  width: 100%;
  height: 800px;
}

.cuadro-registro .container .cont-formulario {
  height: 450px;
  width: 450px;
  margin-top: 100px;
}

.cuadro-registro .container .cont-formulario .form-group {
  width: 320px;
  height: 80px;
  margin: 0;
}

.cuadro-registro .container {
  width: 1300px;
  height: 450;
  padding: 0 12px 0 12px;
  margin: o 280px 0 280px;
}

.cuadro-registro .container .cont-formulario .btn {
  width: 100px;
  height: 50px;
  margin: 20px;
}

.cuadro-registro .container .cont-formulario .form-group .form-control {
  width: 320px;
  height: 50px;
}

.cuadro-registro .container .cont-formulario h4 {
  width: 230px;
  height: 40px;
  margin: 10px;
}

.container-fluid .titulo-introductorio {
  width: 100vw;
  padding: 50px;
}

.container-fluid .row {
  width: 100vw;
  height: 100%;
  padding-left: 150px;
  margin-left: 0;
}

body {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

body header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

body header .h1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

body header .content-registro-login {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

body header .content-registro-login nav .ul-registro-login {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

body .box-secciones-principales .ul-enlaces-secciones {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

body .box-secciones-principales {
  display: flex;
  justify-content: center;
}

main .grilla {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  grid-template-rows: 50% 50%;
  grid-template-areas: ". contenedor-imagenes ." ". contenedor-parrafo ." "footer footer footer";
}

main .grilla .contenedor-imagenes {
  justify-self: center;
  align-self: center;
  grid-area: contenedor-imagenes;
}

main .grilla .contenedor-parrafo {
  display: flex;
  justify-items: center;
  align-items: center;
  grid-area: contenedor-parrafo;
}

body footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body footer .contenedor-redes .redes {
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

body footer .text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body header .content-registro-login .buscador {
  display: flex;
  flex-flow: row wrap;
}

body footer .contenedor-redes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.cuadro-registro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.cuadro-registro .container .cont-formulario {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.cuadro-registro .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cuadro-registro .container .cont-formulario .form-group {
  display: flex;
  flex-direction: column;
}

.container-fluid .titulo-introductorio {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.container-fluid .row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

body header .h1 {
  font-style: italic;
  font-weight: 600;
  font-size: 60px;
  text-decoration: none;
}

body header .content-registro-login nav .ul-registro-login .link-registro-inicio, body header .content-registro-login nav .ul-registro-login {
  font-size: 21px;
  list-style-type: none;
  text-decoration: none;
}

body .box-secciones-principales .ul-enlaces-secciones {
  list-style-type: none;
  text-decoration: none;
}

body .box-secciones-principales .ul-enlaces-secciones .link-secciones {
  font-size: large;
  font-family: Georgia, "Times New Roman", Times, serif;
  list-style-type: none;
  text-decoration: none;
}

main .grilla .contenedor-parrafo .parrafo-index {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0;
}

body header .content-registro-login .buscador .buscador-search {
  font-style: normal;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 19px;
}

.cuadro-registro .container .cont-formulario h4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  font-weight: 600;
}

.container-fluid .titulo-introductorio {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
  text-decoration: underline;
}

body header {
  width: 100vw;
  height: 120px;
}

body header .h1 {
  width: 200px;
  height: 65px;
  margin: 0 0 0 25px;
}

body header .content-registro-login {
  width: 300px;
  height: 100%;
  padding: 0;
  margin: 0;
}

body header .content-registro-login nav .ul-registro-login {
  width: 260px;
  height: 40px;
  padding: 0;
  margin: 0 40px 10px 0;
}

body .box-secciones-principales {
  width: 100vw;
  height: 40px;
  margin: 0;
  border-width: 1px;
  border-style: solid;
}

body .box-secciones-principales .ul-enlaces-secciones {
  width: 600px;
  height: 100%;
  padding: 0;
  margin: 0;
}

main .grilla {
  width: 100vw;
  height: 1080px;
  margin: 0;
}

main .grilla .contenedor-imagenes .img {
  width: 200px;
  height: 130px;
  margin: 8px;
}

main .grilla .contenedor-imagenes {
  width: 95%;
  height: 80%;
}

main .grilla .contenedor-parrafo {
  width: 100%;
  height: 100%;
  margin: 0;
}

main .grilla .contenedor-parrafo .titulo-bienvenida {
  width: 200px;
  margin: 0 0 300px 50px;
}

body footer {
  width: 100vw;
  height: 110px;
}

body header .content-registro-login .buscador {
  width: 260px;
  height: 40px;
  margin: 10px;
}

.cuadro-registro {
  width: 100%;
  height: 800px;
}

.cuadro-registro .container .cont-formulario {
  height: 450px;
  width: 450px;
  margin-top: 100px;
}

.cuadro-registro .container .cont-formulario .form-group {
  width: 320px;
  height: 80px;
  margin: 0;
}

.cuadro-registro .container {
  width: 1300px;
  height: 450;
  padding: 0 12px 0 12px;
  margin: o 280px 0 280px;
}

.cuadro-registro .container .cont-formulario .btn {
  width: 100px;
  height: 50px;
  margin: 20px;
}

.cuadro-registro .container .cont-formulario .form-group .form-control {
  width: 320px;
  height: 50px;
}

.cuadro-registro .container .cont-formulario h4 {
  width: 230px;
  height: 40px;
  margin: 10px;
}

.container-fluid .titulo-introductorio {
  width: 100vw;
  padding: 50px;
}

.container-fluid .row {
  width: 100vw;
  height: 100%;
  padding-left: 150px;
  margin-left: 0;
}

body {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

body header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

body header .h1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

body header .content-registro-login {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

body header .content-registro-login nav .ul-registro-login {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

body .box-secciones-principales .ul-enlaces-secciones {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

body .box-secciones-principales {
  display: flex;
  justify-content: center;
}

main .grilla {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  grid-template-rows: 50% 50%;
  grid-template-areas: ". contenedor-imagenes ." ". contenedor-parrafo ." "footer footer footer";
}

main .grilla .contenedor-imagenes {
  justify-self: center;
  align-self: center;
  grid-area: contenedor-imagenes;
}

main .grilla .contenedor-parrafo {
  display: flex;
  justify-items: center;
  align-items: center;
  grid-area: contenedor-parrafo;
}

body footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body footer .contenedor-redes .redes {
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

body footer .text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body header .content-registro-login .buscador {
  display: flex;
  flex-flow: row wrap;
}

body footer .contenedor-redes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.cuadro-registro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.cuadro-registro .container .cont-formulario {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.cuadro-registro .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cuadro-registro .container .cont-formulario .form-group {
  display: flex;
  flex-direction: column;
}

.container-fluid .titulo-introductorio {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.container-fluid .row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

body header .h1 {
  font-style: italic;
  font-weight: 600;
  font-size: 60px;
  text-decoration: none;
}

body header .content-registro-login nav .ul-registro-login .link-registro-inicio, body header .content-registro-login nav .ul-registro-login {
  font-size: 21px;
  list-style-type: none;
  text-decoration: none;
}

body .box-secciones-principales .ul-enlaces-secciones {
  list-style-type: none;
  text-decoration: none;
}

body .box-secciones-principales .ul-enlaces-secciones .link-secciones {
  font-size: large;
  font-family: Georgia, "Times New Roman", Times, serif;
  list-style-type: none;
  text-decoration: none;
}

main .grilla .contenedor-parrafo .parrafo-index {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0;
}

body header .content-registro-login .buscador .buscador-search {
  font-style: normal;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 19px;
}

.cuadro-registro .container .cont-formulario h4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  font-weight: 600;
}

.container-fluid .titulo-introductorio {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
  text-decoration: underline;
}

main {
  background-color: rgb(168, 168, 168);
}
main .grilla .contenedor-imagenes {
  background-color: rgb(39, 39, 39);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
}
main .grilla .contenedor-imagenes .primerh2 {
  color: rgb(151, 151, 151);
  grid-area: h2;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main .grilla .contenedor-imagenes .img {
  border-radius: 4px;
}
main .grilla .contenedor-imagenes .img:hover {
  width: 230px;
  height: 150px;
  transition: all 1s;
}
main .grilla .contenedor-parrafo .titulo-bienvenida {
  color: rgb(80, 0, 133);
  text-decoration: none;
}
main .grilla .contenedor-parrafo .parrafo-index {
  font-size: 20px;
}

body header {
  width: 100vw;
  height: 120px;
}

body header .h1 {
  width: 200px;
  height: 65px;
  margin: 0 0 0 25px;
}

body header .content-registro-login {
  width: 300px;
  height: 100%;
  padding: 0;
  margin: 0;
}

body header .content-registro-login nav .ul-registro-login {
  width: 260px;
  height: 40px;
  padding: 0;
  margin: 0 40px 10px 0;
}

body .box-secciones-principales {
  width: 100vw;
  height: 40px;
  margin: 0;
  border-width: 1px;
  border-style: solid;
}

body .box-secciones-principales .ul-enlaces-secciones {
  width: 600px;
  height: 100%;
  padding: 0;
  margin: 0;
}

main .grilla {
  width: 100vw;
  height: 1080px;
  margin: 0;
}

main .grilla .contenedor-imagenes .img {
  width: 200px;
  height: 130px;
  margin: 8px;
}

main .grilla .contenedor-imagenes {
  width: 95%;
  height: 80%;
}

main .grilla .contenedor-parrafo {
  width: 100%;
  height: 100%;
  margin: 0;
}

main .grilla .contenedor-parrafo .titulo-bienvenida {
  width: 200px;
  margin: 0 0 300px 50px;
}

body footer {
  width: 100vw;
  height: 110px;
}

body header .content-registro-login .buscador {
  width: 260px;
  height: 40px;
  margin: 10px;
}

.cuadro-registro {
  width: 100%;
  height: 800px;
}

.cuadro-registro .container .cont-formulario {
  height: 450px;
  width: 450px;
  margin-top: 100px;
}

.cuadro-registro .container .cont-formulario .form-group {
  width: 320px;
  height: 80px;
  margin: 0;
}

.cuadro-registro .container {
  width: 1300px;
  height: 450;
  padding: 0 12px 0 12px;
  margin: o 280px 0 280px;
}

.cuadro-registro .container .cont-formulario .btn {
  width: 100px;
  height: 50px;
  margin: 20px;
}

.cuadro-registro .container .cont-formulario .form-group .form-control {
  width: 320px;
  height: 50px;
}

.cuadro-registro .container .cont-formulario h4 {
  width: 230px;
  height: 40px;
  margin: 10px;
}

.container-fluid .titulo-introductorio {
  width: 100vw;
  padding: 50px;
}

.container-fluid .row {
  width: 100vw;
  height: 100%;
  padding-left: 150px;
  margin-left: 0;
}

body {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

body header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

body header .h1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

body header .content-registro-login {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

body header .content-registro-login nav .ul-registro-login {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

body .box-secciones-principales .ul-enlaces-secciones {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

body .box-secciones-principales {
  display: flex;
  justify-content: center;
}

main .grilla {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  grid-template-rows: 50% 50%;
  grid-template-areas: ". contenedor-imagenes ." ". contenedor-parrafo ." "footer footer footer";
}

main .grilla .contenedor-imagenes {
  justify-self: center;
  align-self: center;
  grid-area: contenedor-imagenes;
}

main .grilla .contenedor-parrafo {
  display: flex;
  justify-items: center;
  align-items: center;
  grid-area: contenedor-parrafo;
}

body footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body footer .contenedor-redes .redes {
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

body footer .text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body header .content-registro-login .buscador {
  display: flex;
  flex-flow: row wrap;
}

body footer .contenedor-redes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.cuadro-registro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.cuadro-registro .container .cont-formulario {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.cuadro-registro .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cuadro-registro .container .cont-formulario .form-group {
  display: flex;
  flex-direction: column;
}

.container-fluid .titulo-introductorio {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.container-fluid .row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

body header .h1 {
  font-style: italic;
  font-weight: 600;
  font-size: 60px;
  text-decoration: none;
}

body header .content-registro-login nav .ul-registro-login .link-registro-inicio, body header .content-registro-login nav .ul-registro-login {
  font-size: 21px;
  list-style-type: none;
  text-decoration: none;
}

body .box-secciones-principales .ul-enlaces-secciones {
  list-style-type: none;
  text-decoration: none;
}

body .box-secciones-principales .ul-enlaces-secciones .link-secciones {
  font-size: large;
  font-family: Georgia, "Times New Roman", Times, serif;
  list-style-type: none;
  text-decoration: none;
}

main .grilla .contenedor-parrafo .parrafo-index {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0;
}

body header .content-registro-login .buscador .buscador-search {
  font-style: normal;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 19px;
}

.cuadro-registro .container .cont-formulario h4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  font-weight: 600;
}

.container-fluid .titulo-introductorio {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
  text-decoration: underline;
}

.cuadro-registro {
  background: rgb(255, 255, 255);
}
.cuadro-registro .titulos-registro {
  margin-top: 50px;
}
.cuadro-registro .container .falso-main {
  width: 100vw;
}
.cuadro-registro .container .titulos-registro {
  margin-top: 50px;
}
.cuadro-registro .container .titulos-registro span {
  font-style: italic;
  font-weight: 750;
  color: rgb(75, 0, 124);
}
.cuadro-registro .container .titulos-registro h2 {
  text-align: center;
}
.cuadro-registro .container .titulos-registro h3 {
  font-size: large;
  margin: 0;
  text-align: center;
}
.cuadro-registro .container .cont-formulario {
  background-color: rgb(245, 245, 245);
  border: solid 2px rgb(245, 219, 255);
  border-radius: 4px;
}
.cuadro-registro .container .cont-formulario h4 {
  color: rgb(77, 77, 77);
}
.cuadro-registro .container .cont-formulario .form-group .form-control {
  font-size: 18px;
}
.cuadro-registro .container .cont-formulario .boton-registro {
  margin: 0 40px 0 0;
}
.cuadro-registro .container .cont-formulario .boton-iniciar-sesion {
  margin-right: 30px;
}
.cuadro-registro .container .cont-formulario .checkbox {
  width: 300px;
  height: 25px;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 424px) {
  .falso-main {
    width: 100vw;
  }
  .falso-main .cuadro-registro {
    width: 100%;
  }
  .falso-main .cuadro-registro .titulos-registro {
    width: 100%;
    padding: 30px;
    margin: 0;
  }
  .falso-main .cuadro-registro .titulos-registro h2 {
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 600;
  }
  .falso-main .cuadro-registro .titulos-registro h2 span {
    font-weight: 700;
    font-style: italic;
    color: rgb(80, 0, 133);
  }
  .falso-main .cuadro-registro .titulos-registro h3 {
    font-size: 20px;
    font-style: italic;
  }
  .falso-main .cuadro-registro .container {
    width: 100%;
    padding-top: 30px;
  }
  .falso-main .cuadro-registro .container .cont-formulario {
    width: 90%;
    margin: 0;
  }
  .falso-main .cuadro-registro .container .cont-formulario h4 {
    width: 100%;
    margin: 15px 0 0 15px;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    font-weight: 600;
  }
}
body header {
  width: 100vw;
  height: 120px;
}

body header .h1 {
  width: 200px;
  height: 65px;
  margin: 0 0 0 25px;
}

body header .content-registro-login {
  width: 300px;
  height: 100%;
  padding: 0;
  margin: 0;
}

body header .content-registro-login nav .ul-registro-login {
  width: 260px;
  height: 40px;
  padding: 0;
  margin: 0 40px 10px 0;
}

body .box-secciones-principales {
  width: 100vw;
  height: 40px;
  margin: 0;
  border-width: 1px;
  border-style: solid;
}

body .box-secciones-principales .ul-enlaces-secciones {
  width: 600px;
  height: 100%;
  padding: 0;
  margin: 0;
}

main .grilla {
  width: 100vw;
  height: 1080px;
  margin: 0;
}

main .grilla .contenedor-imagenes .img {
  width: 200px;
  height: 130px;
  margin: 8px;
}

main .grilla .contenedor-imagenes {
  width: 95%;
  height: 80%;
}

main .grilla .contenedor-parrafo {
  width: 100%;
  height: 100%;
  margin: 0;
}

main .grilla .contenedor-parrafo .titulo-bienvenida {
  width: 200px;
  margin: 0 0 300px 50px;
}

body footer {
  width: 100vw;
  height: 110px;
}

body header .content-registro-login .buscador {
  width: 260px;
  height: 40px;
  margin: 10px;
}

.cuadro-registro {
  width: 100%;
  height: 800px;
}

.cuadro-registro .container .cont-formulario {
  height: 450px;
  width: 450px;
  margin-top: 100px;
}

.cuadro-registro .container .cont-formulario .form-group {
  width: 320px;
  height: 80px;
  margin: 0;
}

.cuadro-registro .container {
  width: 1300px;
  height: 450;
  padding: 0 12px 0 12px;
  margin: o 280px 0 280px;
}

.cuadro-registro .container .cont-formulario .btn {
  width: 100px;
  height: 50px;
  margin: 20px;
}

.cuadro-registro .container .cont-formulario .form-group .form-control {
  width: 320px;
  height: 50px;
}

.cuadro-registro .container .cont-formulario h4 {
  width: 230px;
  height: 40px;
  margin: 10px;
}

.container-fluid .titulo-introductorio {
  width: 100vw;
  padding: 50px;
}

.container-fluid .row {
  width: 100vw;
  height: 100%;
  padding-left: 150px;
  margin-left: 0;
}

body {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

body header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

body header .h1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

body header .content-registro-login {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

body header .content-registro-login nav .ul-registro-login {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

body .box-secciones-principales .ul-enlaces-secciones {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

body .box-secciones-principales {
  display: flex;
  justify-content: center;
}

main .grilla {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  grid-template-rows: 50% 50%;
  grid-template-areas: ". contenedor-imagenes ." ". contenedor-parrafo ." "footer footer footer";
}

main .grilla .contenedor-imagenes {
  justify-self: center;
  align-self: center;
  grid-area: contenedor-imagenes;
}

main .grilla .contenedor-parrafo {
  display: flex;
  justify-items: center;
  align-items: center;
  grid-area: contenedor-parrafo;
}

body footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body footer .contenedor-redes .redes {
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

body footer .text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body header .content-registro-login .buscador {
  display: flex;
  flex-flow: row wrap;
}

body footer .contenedor-redes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.cuadro-registro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.cuadro-registro .container .cont-formulario {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.cuadro-registro .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cuadro-registro .container .cont-formulario .form-group {
  display: flex;
  flex-direction: column;
}

.container-fluid .titulo-introductorio {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.container-fluid .row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

body header .h1 {
  font-style: italic;
  font-weight: 600;
  font-size: 60px;
  text-decoration: none;
}

body header .content-registro-login nav .ul-registro-login .link-registro-inicio, body header .content-registro-login nav .ul-registro-login {
  font-size: 21px;
  list-style-type: none;
  text-decoration: none;
}

body .box-secciones-principales .ul-enlaces-secciones {
  list-style-type: none;
  text-decoration: none;
}

body .box-secciones-principales .ul-enlaces-secciones .link-secciones {
  font-size: large;
  font-family: Georgia, "Times New Roman", Times, serif;
  list-style-type: none;
  text-decoration: none;
}

main .grilla .contenedor-parrafo .parrafo-index {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0;
}

body header .content-registro-login .buscador .buscador-search {
  font-style: normal;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 19px;
}

.cuadro-registro .container .cont-formulario h4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  font-weight: 600;
}

.container-fluid .titulo-introductorio {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
  text-decoration: underline;
}

.container-fluid {
  padding: 0;
}
.container-fluid .titulo-introductorio {
  color: rgb(43, 0, 83);
}
.container-fluid .title-guitarras {
  width: 50%;
  margin: 30px;
  text-decoration: underline;
  font-size: large;
  display: flex;
  justify-content: center;
}
.container-fluid .row .img-guitarra1 {
  width: 60%;
  height: 92%;
  border-radius: 4px;
  margin-left: 130px;
}
.container-fluid .row .img-guitarra2 {
  width: 25%;
  height: 600px;
  margin-right: 200px;
}
.container-fluid .row .img-guitarra3 {
  width: 45%;
  height: 90%;
  margin: 30px 0 0 120px;
}
.container-fluid .row h4 {
  margin: 40px;
}
.container-fluid .row .videos {
  width: 50%;
  height: 200px;
  margin: 20px 0 90px 100px;
}

@media (max-width: 424px) {
  #row-mobile {
    width: 100vw;
    height: 100%;
    padding: 20px;
  }
  #row-mobile .img-guitarra1 {
    width: 100%;
    height: 400px;
    margin: 0;
  }
  #row-mobile .img-guitarra2 {
    width: 100%;
    height: 550px;
    margin: 0;
  }
  #row-mobile .img-guitarra3 {
    width: 100%;
    height: 500px;
    margin: 0;
  }
  #row-mobile .videos {
    width: 100%;
    margin: 0;
  }
}
body header {
  width: 100vw;
  height: 120px;
}

body header .h1 {
  width: 200px;
  height: 65px;
  margin: 0 0 0 25px;
}

body header .content-registro-login {
  width: 300px;
  height: 100%;
  padding: 0;
  margin: 0;
}

body header .content-registro-login nav .ul-registro-login {
  width: 260px;
  height: 40px;
  padding: 0;
  margin: 0 40px 10px 0;
}

body .box-secciones-principales {
  width: 100vw;
  height: 40px;
  margin: 0;
  border-width: 1px;
  border-style: solid;
}

body .box-secciones-principales .ul-enlaces-secciones {
  width: 600px;
  height: 100%;
  padding: 0;
  margin: 0;
}

main .grilla {
  width: 100vw;
  height: 1080px;
  margin: 0;
}

main .grilla .contenedor-imagenes .img {
  width: 200px;
  height: 130px;
  margin: 8px;
}

main .grilla .contenedor-imagenes {
  width: 95%;
  height: 80%;
}

main .grilla .contenedor-parrafo {
  width: 100%;
  height: 100%;
  margin: 0;
}

main .grilla .contenedor-parrafo .titulo-bienvenida {
  width: 200px;
  margin: 0 0 300px 50px;
}

body footer {
  width: 100vw;
  height: 110px;
}

body header .content-registro-login .buscador {
  width: 260px;
  height: 40px;
  margin: 10px;
}

.cuadro-registro {
  width: 100%;
  height: 800px;
}

.cuadro-registro .container .cont-formulario {
  height: 450px;
  width: 450px;
  margin-top: 100px;
}

.cuadro-registro .container .cont-formulario .form-group {
  width: 320px;
  height: 80px;
  margin: 0;
}

.cuadro-registro .container {
  width: 1300px;
  height: 450;
  padding: 0 12px 0 12px;
  margin: o 280px 0 280px;
}

.cuadro-registro .container .cont-formulario .btn {
  width: 100px;
  height: 50px;
  margin: 20px;
}

.cuadro-registro .container .cont-formulario .form-group .form-control {
  width: 320px;
  height: 50px;
}

.cuadro-registro .container .cont-formulario h4 {
  width: 230px;
  height: 40px;
  margin: 10px;
}

.container-fluid .titulo-introductorio {
  width: 100vw;
  padding: 50px;
}

.container-fluid .row {
  width: 100vw;
  height: 100%;
  padding-left: 150px;
  margin-left: 0;
}

body {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

body header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

body header .h1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

body header .content-registro-login {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

body header .content-registro-login nav .ul-registro-login {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

body .box-secciones-principales .ul-enlaces-secciones {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

body .box-secciones-principales {
  display: flex;
  justify-content: center;
}

main .grilla {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  grid-template-rows: 50% 50%;
  grid-template-areas: ". contenedor-imagenes ." ". contenedor-parrafo ." "footer footer footer";
}

main .grilla .contenedor-imagenes {
  justify-self: center;
  align-self: center;
  grid-area: contenedor-imagenes;
}

main .grilla .contenedor-parrafo {
  display: flex;
  justify-items: center;
  align-items: center;
  grid-area: contenedor-parrafo;
}

body footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body footer .contenedor-redes .redes {
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

body footer .text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body header .content-registro-login .buscador {
  display: flex;
  flex-flow: row wrap;
}

body footer .contenedor-redes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.cuadro-registro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.cuadro-registro .container .cont-formulario {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.cuadro-registro .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cuadro-registro .container .cont-formulario .form-group {
  display: flex;
  flex-direction: column;
}

.container-fluid .titulo-introductorio {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.container-fluid .row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

body header .h1 {
  font-style: italic;
  font-weight: 600;
  font-size: 60px;
  text-decoration: none;
}

body header .content-registro-login nav .ul-registro-login .link-registro-inicio, body header .content-registro-login nav .ul-registro-login {
  font-size: 21px;
  list-style-type: none;
  text-decoration: none;
}

body .box-secciones-principales .ul-enlaces-secciones {
  list-style-type: none;
  text-decoration: none;
}

body .box-secciones-principales .ul-enlaces-secciones .link-secciones {
  font-size: large;
  font-family: Georgia, "Times New Roman", Times, serif;
  list-style-type: none;
  text-decoration: none;
}

main .grilla .contenedor-parrafo .parrafo-index {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0;
}

body header .content-registro-login .buscador .buscador-search {
  font-style: normal;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 19px;
}

.cuadro-registro .container .cont-formulario h4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  font-weight: 600;
}

.container-fluid .titulo-introductorio {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
  text-decoration: underline;
}

.contenedor-novedades {
  width: 100vw;
  height: 100%;
  background-color: rgb(95, 95, 95);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contenedor-novedades .contenedor-noticia {
  width: 90%;
  height: 100vh;
  background-color: rgb(207, 207, 207);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contenedor-novedades .contenedor-noticia .caja-noticia {
  width: 40%;
  height: 80%;
  background-color: rgb(173, 173, 173);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  margin: 30px 10px 0 10px;
  display: flex;
  flex-direction: column;
}
.contenedor-novedades .contenedor-noticia .caja-noticia h2 {
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.contenedor-novedades .contenedor-noticia .caja-noticia .img-video-noticia {
  width: 90%;
  height: 35%;
  border-radius: 4px;
  margin: 25px;
}
.contenedor-novedades .contenedor-noticia .noticia1, .contenedor-novedades .contenedor-noticia .noticia2, .contenedor-novedades .contenedor-noticia .noticia3 {
  width: 80%;
  height: 30%;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 30px 0 55px;
}
.contenedor-novedades .contenedor-noticia .contenedor-vermas {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contenedor-novedades .contenedor-noticia .contenedor-vermas .vermas {
  width: 150px;
  height: 40px;
  margin: 0;
  background-color: rgb(231, 206, 255);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
}

@media (max-width: 424px) {
  main {
    width: 100vh;
    height: 100%;
  }
  main .contenedor-novedades {
    width: 100vw;
    height: 100%;
  }
  main .contenedor-novedades .contenedor-noticia {
    width: 100vw;
    height: 100%;
    background: rgb(29, 29, 29);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
  }
  main .contenedor-novedades .contenedor-noticia .caja-noticia {
    width: 92%;
    height: 50%;
    margin: 15px;
    border: solid 2px rgb(175, 2, 255);
    background: rgb(29, 29, 29);
  }
  main .contenedor-novedades .contenedor-noticia .caja-noticia .img-video-noticia {
    margin: 20px;
  }
  main .contenedor-novedades .contenedor-noticia .caja-noticia h2 {
    width: 90%;
    color: rgb(161, 118, 218);
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-flow: row;
    justify-content: center;
  }
  main .contenedor-novedades .contenedor-noticia .caja-noticia .noticia1, main .contenedor-novedades .contenedor-noticia .caja-noticia .noticia2, main .contenedor-novedades .contenedor-noticia .caja-noticia .noticia3 {
    width: 100%;
    margin: 0;
  }
  main .contenedor-novedades .contenedor-noticia .caja-noticia .noticia1 p, main .contenedor-novedades .contenedor-noticia .caja-noticia .noticia2 p, main .contenedor-novedades .contenedor-noticia .caja-noticia .noticia3 p {
    color: white;
    margin: 20px;
  }
  main .contenedor-novedades .contenedor-noticia .caja-noticia .vermas {
    font-size: 15px;
    margin: 15px;
  }
}
body {
  background-color: rgb(218, 218, 218);
  margin: 0;
  padding: 0;
}
body header {
  background: radial-gradient(ellipse 800px 100px, rgb(99, 99, 99), rgb(37, 37, 37));
}
body header .h1 {
  color: rgb(223, 188, 255);
}
body header .h1:hover {
  font-size: 70px;
  transition: all 0.2s;
}
body header .content-registro-login .buscador .buscador-search {
  padding: 0;
  background: rgb(223, 188, 255);
  border: solid rgb(206, 132, 255) 2px;
  border-radius: 4px;
}
body header .content-registro-login .buscador .buscador-enviar {
  height: 40px;
  color: white;
  background: black;
  margin-left: 5px;
}
body header .content-registro-login nav {
  width: 260px;
  height: 50px;
}
body header .content-registro-login nav .ul-registro-login {
  color: rgb(255, 255, 255);
}
body header .content-registro-login nav .ul-registro-login .link-registro-inicio {
  margin: 10px;
  color: rgb(255, 255, 255);
}
body header .content-registro-login nav .ul-registro-login .link-registro-inicio:hover {
  color: rgb(150, 69, 255);
  text-decoration: underline;
}
body .box-secciones-principales {
  background-color: rgb(49, 49, 49);
  border: 1px, solid, black;
}
body .box-secciones-principales .ul-enlaces-secciones {
  background-color: rgb(49, 49, 49);
}
body .box-secciones-principales .ul-enlaces-secciones .link-secciones {
  color: rgb(186, 166, 207);
}
body .box-secciones-principales .ul-enlaces-secciones .link-secciones:hover {
  font-size: 20px;
  border: solid 2px rgb(221, 169, 255);
  border-radius: 4px;
  padding: 4px;
}
body footer {
  background: linear-gradient(to bottom, rgb(151, 151, 151), rgb(0, 0, 0));
}
body footer .contenedor-redes {
  width: 450px;
}
body footer .contenedor-redes .redes {
  width: 80%;
  height: 80%;
  padding: 0;
  color: white;
}
body footer .contenedor-redes .redes .redes-link {
  font-size: 20px;
  margin: 20px;
  text-decoration: none;
  color: rgb(249, 221, 255);
}
body footer .text {
  font-size: 20px;
  width: 150px;
  color: white;
}
body footer .text-redes {
  width: 50px;
  margin-bottom: 40px;
}
body footer .text-contact {
  font-size: 20px;
  width: 40%;
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
}

@media (max-width: 424px) {
  #header-mobile {
    width: 100vw;
    height: 200px;
  }
  #header-mobile #h1-mobile {
    width: 100%;
    margin: 15px;
  }
  #header-mobile #content-registro-mobile {
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
  }
  #header-mobile #content-registro-mobile #buscador-mobile {
    padding-left: 60px;
    margin: 0;
  }
  #header-mobile #content-registro-mobile #buscador-mobile .buscador-search {
    width: 60%;
  }
  #header-mobile #content-registro-mobile nav #ul-registro-mobile {
    margin: 7px 0 0 37px;
  }
  #header-mobile .box-secciones-principales {
    width: 100vw;
  }
  main .grilla {
    width: 100vw;
    height: 100%;
    grid-template-columns: 1fr;
  }
  main .grilla .contenedor-imagenes {
    width: 95%;
    height: 95%;
  }
  main .grilla .contenedor-imagenes .img {
    width: 160px;
    height: 110px;
    margin: 0 0 15px 25px;
  }
  main .grilla .contenedor-parrafo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
  }
  main .grilla .contenedor-parrafo .parrafo-index {
    width: 90%;
    height: 90%;
    font-size: 17px;
    margin: 20px;
  }
  main .grilla .contenedor-parrafo .titulo-bienvenida {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  footer {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
  }
  footer #text-redes-mobile {
    margin-top: 40px;
  }
  footer #contenedor-redes-mobile {
    width: 40%;
    height: 100%;
    margin-left: 10px;
  }
  footer #contenedor-redes-mobile .redes {
    width: 100%;
    height: 80%;
    margin: 10px;
    display: flex;
    flex-flow: column;
    align-content: center;
  }
  footer #contenedor-redes-mobile .redes .redes-link {
    width: 90px;
    height: 20px;
    margin: 0;
  }
}

/*# sourceMappingURL=styles_base.css.map */
