$fondo: rgb(218, 218, 218);
$color_header: rgb(37, 37, 37);
$color_h1: rgb(223, 188, 255);
$color_registro_login: rgb(255, 255, 255);
$color_navbar: rgb(49, 49, 49);
$border_box_secciones_color: rgb(0, 0, 0);
$ul_enlaces_secciones_color: rgb(49,49,49);
$color_contenedor-img: rgb(39, 39, 39);
$titulo_bienvenida: rgb(80, 0, 133);
$color_random: rgb(230, 176, 255);

























































