@import 'colores.scss';
@import 'tamaños.scss';
@import 'contenido.scss';
@import 'tipografia.scss';

.container-fluid{
    padding: 0;
    .titulo-introductorio{
        @extend %tamaño-titulo-introductorio;
        @extend %letra-titulo-intro-guitarras;
        @extend %cont-flex-titulo-introductorio;
        color: rgb(43, 0, 83);
    }
    .title-guitarras{
        width: 50%;
        margin: 30px;
        text-decoration: underline;
        font-size: large;
        display: flex;
        justify-content: center;
    }
    .row{
        @extend %tamaño-row;
        @extend %cont-flex-row;
        .img-guitarra1{
            width: 60%;
            height: 92%;
            border-radius: 4px;
            margin-left: 130px;
        }
        .img-guitarra2{
            width: 25%;
            height: 600px;
            margin-right: 200px;
        }
        .img-guitarra3{
            width: 45%;
            height: 90%;
            margin: 30px 0 0 120px;
        }
        h4{
            margin: 40px;
        }
        .videos{
            width: 50%;
            height: 200px;
            margin: 20px 0 90px 100px;
        }

    }
}

//Version movil pagina guitarras y modelos-------------------------------------

@media (max-width: 424px){
    #row-mobile{
        width: 100vw;
        height: 100%;
        padding: 20px;
        .img-guitarra1{
            width: 100%;
            height: 400px;
            margin: 0;
        }
        .img-guitarra2{
            width: 100%;
            height: 550px;
            margin: 0;
        }
        .img-guitarra3{
            width: 100%;
            height: 500px;
            margin: 0;
        }
        .videos{
            width: 100%;
            margin: 0;
        }
    }







}




































































