@import '_colores.scss';
@import '_tamaños.scss';
@import '_contenido.scss';
@import '_tipografia.scss';
@import '_mixins.scss';

.contenedor-novedades{
    @include sizes (100vw,100%,none,none);
    background-color: rgb(53, 53, 53);
    @include flex (flex,row,center,none);
    .contenedor-noticia{
        @include sizes (90%,100vh,none,none);
        background-color: rgb(29, 29, 29);
        @include flex (flex,row,center,none);
        .caja-noticia{
            @include sizes (40%,80%,none,30px 10px 0 10px);
            background-color: rgb(29, 29, 29);
            border: 2px solid rgb(175, 2, 255);
            border-radius: 4px;
            @include flex (flex,column,none,none);
            h2{
                width: 100%;
                height: 50px;
                font-size: 20px;
                color: rgb(161, 118, 218);
                @include flex(flex,row wrap,center,none);
            }
            .img-video-noticia{
                border-radius: 4px;
                @include sizes (90%,35%,none,25px);
            }
        }   .noticia1,.noticia2,.noticia3{
            width: 80%;
            height: 30%;
            @include sizes (80%,30%,none,0 55px 0 55px);
            font-size: 18px;
            display: flex;
            flex-wrap: wrap;
            p{
                color:white;
            }
            }
            .contenedor-vermas{
                width: 100%;
                margin-top: 50px ;
                display:flex;
                flex-direction: row;
                justify-content: center;
                .vermas{
                    @include sizes (150px,40px,none,0);
                    font-size: 17px;
                    background-color: rgb(231, 206, 255);
                    border: 1px solid rgb(0, 0, 0);
                    border-radius: 4px;
                }
            }
        
    }
}

// Version movil 424 px pagina 'novedades'-------------------------------------------------

@media (max-width: 424px){
    main{
        width: 100vh;
        height: 100%;
        .contenedor-novedades{
            width: 100vw;
            height: 100%;
            .contenedor-noticia{
                width: 100vw;
                height: 100%;
                background: rgb(29, 29, 29);
                @include flex(flex,column,center,center);
                .caja-noticia{
                    @include sizes (92%,50%,none,15px);
                    border: solid 2px rgb(175, 2, 255);
                    background: rgb(29, 29, 29);
                    .img-video-noticia{
                        margin:20px;
                    }
                    h2{
                        @include sizes(90%,none,10px,10px);
                        color: rgb(161, 118, 218);
                        @include flex(flex,row,center,none);
                    }
                    .noticia1,.noticia2,.noticia3{    
                        width: 100%;
                        margin: 0;
                        p{
                            color: white;
                            margin: 20px;
                        }
                    }
                    .vermas{
                        font-size: 15px;
                        margin: 15px;
                    }
                }
            }
        }
    }
}






































