@import 'colores.scss';
@import 'tamaños.scss';
@import 'contenido.scss';
@import 'tipografia.scss';

.cuadro-registro{
    background: $color_registro_login;
    @extend %contenedor-cuadro-registro;
    @extend %cont-flex-pagina-registro;
    .titulos-registro{
        margin-top: 50px;
    }
    .container{
        @extend %tamaño-conteiner;
        @extend %container-flex;
        .falso-main{
            width: 100vw;
        }
        .titulos-registro{
            margin-top: 50px;
            span{
                font-style:italic;
                font-weight: 750;
                color: rgb(75, 0, 124);
            }
            h2{
                text-align: center;
            }
            h3{
                font-size: large;
                margin: 0;
                text-align: center;
            }
        }
        .cont-formulario{
            @extend %tamaño-form;
            background-color: rgb(245, 245, 245);
            border: solid 2px rgb(245, 219, 255);
            border-radius: 4px;
            @extend %cont-form;
            
            h4{
                @extend %tamaño-h4-form;
                @extend %letra-h4-registro;
                color: rgb(77, 77, 77);
                
            }
            .form-group{
                @extend %tamaño-form-group;
                @extend %cont-flex-formgroup;
                .form-control{
                    font-size: 18px;
                    @extend %tamaño-form-control;
                }
            }
            .btn{
                @extend %tamaño-btn;
            }
            .boton-registro{
                margin: 0 40px 0 0;
            }
            .boton-iniciar-sesion{
                margin-right: 30px;
            }
            .checkbox{
                width: 300px;
                height: 25px;
                margin-left: 30px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}



































