@import 'colores.scss';
@import 'tamaños.scss';
@import 'contenido.scss';
@import 'tipografia.scss';
@import 'index.scss';
@import 'registro_login.scss';
@import 'guitarras.scss';


body{ 
    background-color: $fondo;
    margin: 0;
    @extend %body_flex;

    header { 
        background: radial-gradient(ellipse 800px 100px, rgb(99, 99, 99) , $color_header);
        @extend %tamaño_header;
        @extend %header_flex;
        
        .h1{
            color: $color_h1;
            @extend %h1_letra; 
            @extend %tamaño_h1;
            @extend %h1_flex;
                    
        }
        .h1:hover{
            font-size: 70px;
            transition: all 0.2s
        }
        
        .content-registro-login{
            @extend %tamaño_box_registro;
            @extend %box_registro_flex;
            
            .buscador{
                @extend %tamaño-contenedor-buscador;
                @extend %cont-buscador-flex;
                .buscador-search{
                    @extend %letra-buscador;
                    padding: 0;
                    background: rgb(223, 188, 255);
                    border: solid rgb(206, 132, 255) 2px;
                    border-radius: 4px;
                }
                .buscador-enviar{
                    height: 40px;
                    color: white;
                    background: black;
                    margin-left: 5px;
                }
                
            }
            nav{  
                width: 260px;
                height: 50px;
                .ul-registro-login{
                    color : $color_registro_login;
                    @extend %letra_registro_login;
                    @extend %tamaño_registro_login;
                    @extend %cont-registro-flex;
                    
                    .link-registro-inicio{
                        @extend %letra_registro_login;
                        margin: 10px;
                        color : $color_registro_login;
                    }
                    .link-registro-inicio:hover{
                        color: rgb(150, 69, 255);
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .box-secciones-principales{
        @extend %tamaño-navbar;
        background-color : $color_navbar;
        border: 1px , solid, black, ;
        @extend %cont-box-secciones;
        
        .ul-enlaces-secciones{
            @extend %tamaño-enlaces-secciones;
            @extend %letra_ul_enlaces;
            @extend %cont-ul-enlaces-flex;
            background-color: $ul_enlaces_secciones_color;
            .link-secciones{
                @extend %letra_link_secciones;
                color: rgb(186, 166, 207);
            }
            .link-secciones:hover{
                font-size: 20px;
                border: solid 2px rgb(221, 169, 255);
                border-radius: 4px;
                padding: 4px;
            }
        }
    }
  
    footer{
        @extend %tamaño-footer;
        background: linear-gradient(to bottom, rgb(151, 151, 151), rgb(0, 0, 0) );
        @extend %cont-footer;
        .contenedor-redes{
            width: 300px;
            @extend %cont-nav-footer;
            .redes{
                width: 200px;
                height: 80%;
                padding: 0;
                color: white;
                @extend %cont-redes;
                .redes-link{
                    font-size: 20px;
                    margin: 20px;
                    text-decoration: none;
                    color: rgb(249, 221, 255);
                }
            }
        } 
        .text{
            font-size: 20px;
            width: 150px;
            color: white;
            @extend %cont-texto-flex;
        }
        .text-redes{
            width: 50px;
            margin-bottom: 40px;
        }
            
        .text-contact{
            font-size: 20px;
            width: 20%;
        }
    }

}

































