@import '_colores.scss';
@import '_tamaños.scss';
@import '_contenido.scss';
@import '_tipografia.scss';
@import 'index.scss';
@import 'registro_login.scss';
@import 'guitarras.scss';
@import 'novedades.scss';
@import 'mercado.scss';
@import '_mixins.scss';

body{ 
    background-color: $fondo;
    margin: 0;
    @extend %body_flex;
    padding: 0;

    header { 
        background: radial-gradient(ellipse 800px 100px, rgb(99, 99, 99) , $color_header);
        @include sizes(100vw,120px,0,0);
        @include flex (flex,row wrap,space-between,0);
        h1{
            margin: 0;
        }
        .h1{
            color: $color_h1;
            @include tipografia (60px,600,0,italic,0); 
            @include sizes (200px,65px,0,0 0 0 25px);
            @include flex (flex,row wrap,center, 0);
            text-decoration: none;
        }
        .h1:hover{
            font-size: 70px;
            transition: all 0.2s
        }
        
        .content-registro-login{
            @include sizes (300px, 100%,0,0);
            @extend %box_registro_flex;
            
            .buscador{
                @include sizes(270px,40px,0,10px);
                @extend %cont-buscador-flex;
                .buscador-search{
                    @extend %letra-buscador;
                    padding: 0;
                    background: rgb(223, 188, 255);
                    border: solid rgb(206, 132, 255) 2px;
                    border-radius: 4px;
                }
                .buscador-enviar{
                    height: 40px;
                    color: white;
                    background: black;
                    margin-left: 5px;
                }
                
            }
            nav{  
                width: 290px;
                height: 50px;
                .ul-registro-login{
                    color : $color_registro_login;
                    @extend %letra_registro_login;
                    @extend %tamaño_registro_login;
                    @extend %cont-registro-flex;
                    
                    .link-registro-inicio{
                        @extend %letra_registro_login;
                        margin: 10px;
                        color : $color_registro_login;
                    }
                    .link-registro-inicio:hover{
                        color: rgb(150, 69, 255);
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .box-secciones-principales{
        @extend %tamaño-navbar;
        background-color : $color_navbar;
        border: 1px , solid, black, ;
        @extend %cont-box-secciones;
        
        .ul-enlaces-secciones{
            @extend %tamaño-enlaces-secciones;
            @extend %letra_ul_enlaces;
            @extend %cont-ul-enlaces-flex;
            background-color: $ul_enlaces_secciones_color;
            .link-secciones{
                @extend %letra_link_secciones;
                color: rgb(186, 166, 207);
            }
            .link-secciones:hover{
                font-size: 20px;
                border: solid 2px rgb(221, 169, 255);
                border-radius: 4px;
                padding: 4px;
            }
        }
    }
  
    footer{
        @extend %tamaño-footer;
        background: linear-gradient(to bottom, rgb(151, 151, 151), rgb(0, 0, 0) );
        @extend %cont-footer;
        .contenedor-redes{
            width: 450px;
            @extend %cont-nav-footer;
            .redes{
                width: 80%;
                height: 80%;
                padding: 0;
                color: white;
                @extend %cont-redes;
                .redes-link{
                    font-size: 20px;
                    margin: 20px;
                    text-decoration: none;
                    color: rgb(249, 221, 255);
                }
            }
        } 
        .text{
            font-size: 20px;
            width: 150px;
            color: white;
            @extend %cont-texto-flex;
        }
        .text-redes{
            width: 50px;
            margin-bottom: 40px;
        }
            
        .text-contact{
            font-size: 20px;
            width: 40%;
            display: flex;
            flex-flow: row wrap;
            justify-content: end;
        }
    }

}

//Version movil index-------------------------------------------------------------------------

@media (max-width: 424px){
    #header-mobile {
        width: 100vw;
        height: 200px;
        display: flex;
        flex-flow: column;
        #h1-mobile {
            width: 95%;
            height: 50%;
            padding: 10px;
            margin: 0;
        }
        #content-registro-mobile{
            width: 100%;
            height: 100px;
            padding: 0;
            margin: 0;
            display:flex;
            flex-flow: column wrap;
            align-content: center;
            #buscador-mobile{
                @include sizes(100%,40px,0,0);
                @include flex(flex,row,center,0);
                .buscador-search{
                    width: 30%;
                    height: 40px;
                }
            }
            nav{
                width: 100%;
                height: 40px;
                #ul-registro-mobile{
                    width: 100%;
                    height: 30px;
                    margin: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                }
            }

        }
    .box-secciones-principales{
        width: 100vw;
    }   
    }
    main {
        .grilla {
            width: 100vw;
            height: 100%;
            grid-template-columns: 1fr;
            .contenedor-imagenes{
                width: 95%;
                height: 95%;
                .img{
                    width: 160px;
                    height: 110px;
                    margin: 0 0 15px 25px;
                }
            }
            .contenedor-parrafo{
                width: 100%;
                height: 100%;
                display:flex;
                flex-flow: row wrap;
                align-content: center;
                .parrafo-index{
                    width: 90%;
                    height: 90%;
                    font-size: 17px;
                    margin: 20px;
                }
                .titulo-bienvenida{
                    width: 100%;
                    margin: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }
            }
        }
    }
    footer {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        #text-redes-mobile{
            margin-top: 40px;
        }
        #contenedor-redes-mobile {
            width: 40%;
            height: 100%;
            margin-left: 10px;
            
            .redes{
                width: 100%;
                height: 80%;
                margin: 10px;
                display: flex;
                flex-flow: column;
                align-content: center;
                .redes-link{
                    width:90px;
                    height: 20px;
                    margin: 0;
                }
            }

        }
    }
}
























