%tamaño_header{
    width: 100vw;
    height: 120px;
}

%tamaño_h1{
    width: 180px;
    height: 65px;
    margin: 0 0 0 25px;
}
        
%tamaño_box_registro{
    width: 260px;
    height: 100%;
    padding: 0;
    margin: 0;
}

%tamaño_registro_login{
    width: 230px;
    height: 40px;
    padding: 0;
    margin: 0 40px 10px 0;
}

%tamaño-navbar{
    width: 100vw;
    height: 40px;
    margin: 0;
    border-width: 1px;
    border-style: solid;
}

%tamaño-enlaces-secciones{
    width: 600px;
    height: 100%;
    padding: 0;
    margin: 0;
}

%tamaño-grilla{
    width: 100vw;
    height: 1080px;
    margin: 0;
}

%tamaño-img{
    width: 200px;
    height: 130px;
    margin: 5px;
}

%tamaño-contenedor-img {
    width: 90%;
    height: 75%;
}

%tamaño-parrafo-bienvenida{
    width: 100%;
    height: 100%;
    margin: 0;
}

%tamaño-titulo-bienvenida{
    width: 200px;
    margin: 0 0 300px 50px;
}

%tamaño-footer{
    width: 100vw;
    height: 110px;
}












































