%h1_letra {
    font-style: italic;
    font-weight: 600;
    font-size: 60px;
    text-decoration: none;
}

%letra_registro_login{
    font-size: 19px;
    list-style-type: none;
    text-decoration: none;
}

%letra_ul_enlaces{
    list-style-type: none;
    text-decoration: none;
}

%letra_link_secciones{
    font-size: large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    list-style-type: none;
    text-decoration: none;
}

%letra_parrafo-index{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0;
}



















